extends layout 

block content 

    h2 Create new post
    form(action="/create-post", method="post")
        .form-group 
            label(for="title") Title 
            input(type="text" name="title" placeholder="title" class="form-control" id="title")
        .form-group 
            label(for="message") Message     
            input(type="message" name="message" placeholder="message" class="form-control" id="message")
    if errors 
        ul 
            for error in errors 
                li!= error.msg