extends layout 

block content 

    h2 Create new post
    form(action="/create-post", method="post")
        .form-group 
            label(for="title") Title 
            input(type="text" name="title" placeholder="title" class="form-control" id="title" value=(undefined===title ? '' : title))
        .form-group 
            label(for="message") Message     
            textarea(name="message" placeholder="message" class="form-control" id="message" value=(undefined === message ? '' : message))
            button(type="submit" class="btn btn-success") Create new post
    if errors 
        ul 
            for error in errors 
                li!= error.msg