extends layout 

block content 

    h1 Home Page 

    .d-flex.justify-content-around.float-end(style="gap: 2rem;")
        button(class="btn btn-primary") Create a Club 
        button(class="btn btn-success") Join a Club 
