extends layout 

block content 

    if (user)
        h1 Home Page 
        .d-flex.flex-column.float-end.align-items-center(style="gap: 4rem;")
            .d-flex.justify-content-around.float-end(style="gap: 2rem;")
                a(href="" style="margin-right: 4rem;") #{user.username} 
                a(class="btn btn-primary" href="/club-m0anage/create-club") Create a Club 
                a(class="btn btn-success" href="/club-manage/join-club") Join a Club
            .d-flex.flex-column.align-items-center(style="gap: 2rem;") 
                h3 Club list
                if clubs
                for club in clubs 
                    a(href=club.url) #{club.name}

        .d-flex.flex-column.float-start.align-items-center(style="gap: 2rem;")
            h1 New posts from your Clubs 
        
    else
        h1 ZOINKS! 404!
